canvas {
	display:block;
	vertical-align:bottom
}
#particles-js {
	position:absolute;
	width:100%;
	height:100%;
	background:#000000
}
.center {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}
.image {
	border-radius:60%
}
.header1 {
	font-family:righteous,cursive;
	font-size:6vw;
	color:#ffffff;
}
.header2 {
	font-family:ubuntu mono,monospace;
	font-size:1.6vw;
	color:#ffffff
}
.header3 {
	font-family:ubuntu mono,monospace;
	font-size:2.2vw;
	color:#ffffff
}
.link1 {
	font-family:ubuntu mono,monospace;
	font-size:2.8vw;
	color:inherit;
	margin:0 5px;
	transition:.5s;
	color:#fff
}
.link1:hover {
	color:ivory
}
@media screen and (max-width:785px) {
	.header1 {
		font-size:8vw
	}
	.link1 {
		font-size:4vw
	}
}
@media screen and (max-width:765px) {
	body {
		text-align:center
	}
	.header1 {
		font-size:9vw
	}
	.header2 {
		font-size:2.5vw
	}
	.link1 {
		font-size:5vw
	}
}
@media screen and (min-width:1390px) {
	.header2 {
		font-size: 1.7vw
	}
}